body, html {
    font-family: Helvetica, sans-serif;
    background-color: #FFF;
    /* background-color: #000000; */
    /* background-image: url('../images/clouds.png'); */
}

#stview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

