#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#gallery .entry {
    width: 30%;
    padding: 0.25em;

}

#gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #FFF;
    border-radius: 10px; 
}

#gallery p {
    margin: 4px 0 10px 0;
}

.container #errorBox {
    display: none;
    margin: 14px 0 6px 0;
}