#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#gallery .entry {
    width: 30%;
    aspect-ratio: 1/1;
}

#gallery img {
    /* width: 30%;
    height: auto; */
    object-fit: cover;
    padding: 4px;
    border: 1px solid #FFF;
    border-radius: 10px; 
}

/* #gallery p {
    width: 30%;
    height: auto;
} */