/* 
*
*       BASE
*
*/

@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

html {
    height: 100%;
    background: linear-gradient(360deg, rgba(253,253,253,1) 0%, rgba(127,191,219,1) 100%) no-repeat;
}

body, html {
    font-family: 'Work Sans', sans-serif;
}

#parent {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 96px;

    /* width: 320px; */
    width: calc(320px + 6.485vw);
    background: #FFF;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0 6px 16px -16px;
}

#page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: auto;
}

#page-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

#page-header a {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

#page-header #nav {
    font-size: 1rem;
    /* padding: 3px auto; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 33%;
    margin: 0.3rem 0 0.3rem auto;
    /* border: 2px solid black; */
}

#nav a {
    /* border: 1px solid black; */
    /* margin-left: 0.8rem; */
    /* padding-left: 0.8rem; */
}

#nav a:hover {
    text-decoration: underline black solid 2px;
}

#info {
    font-size: 1rem;
}

#info p {
    /* margin-top: 0.5rem; */
    margin: 0.60rem 0 1.5rem 0;
}

.errorBox {
    display: none;
    margin: 0.5rem 0 0 0;
    font-size: 0.85rem;
    letter-spacing: 0.02rem;
    color: #FF0000;
}

#response {
    margin-top: 10px;
}

#response img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
    color: red;
    width: 100%;
    height: 2.25rem;
    letter-spacing: 0.02em;
    /* background-color: transparent; */
    border: 2px solid #000;
    /* border-radius: 15px; */
    /* color: #000; */
    background-color: #000;
    color: #FFF;
    cursor: pointer;   
}

button:hover {
    background-color: #FFF;
    color: #000;
}

button:disabled {
    opacity: 20%;
    background: #000;
    cursor: default;
    color: #FFF;
}

/* 
*
*       SIGN UP AND LOG IN 
*
*/

#signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#signup-form h2 {
    margin: 0 0 0.75rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    /* font-weight: 500; */
}

#signup-form input {
    width: 100%;
    /* margin: 0 0 8px 0; */
    margin: 0.25rem 0 1rem 0;
    height: 2.5rem;
    border: 1px solid black;
    font-size: 100%;
    /* font-size: 12pt; */
    box-sizing: border-box;
}

section label {
    font-size: 0.9rem;
    opacity: 70%;
    /* opacity: 80%; */
}

#signup {
    margin: 1rem 0 0 0;
}

#help {
    margin: 0.9rem auto 0 auto;
    letter-spacing: 0.02rem;
    /* margin: 24px auto; */
}

#help a {
    font-weight: 500;
    color: #000;
}

/* 
*
*       HOME 
*
*/

#homeBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#homeBtns button {
    width: 49%;
}

#page-header #nav #logout {
    border: none;
    color: #000;
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    /* margin: 0.3rem 0 0.3rem auto; */
    align-self: start;
}

#page-header #nav #logout:hover {
    text-decoration: underline black solid 2px;
}

/* #homeBtns #save:hover {

} */

/* 
*
*       CLOUD STORAGE 
*
*/

#storageBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#storageBtns button {
    width: 49%;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 0 0.7rem;
    margin-top: 0.25rem;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
}

#gallery .entry {
    width: 100%;
    height: auto;
    margin: 0.5rem 0 0 0;
    /* margin: 0 0.45em;
    padding: 10px 0; */
}

#gallery img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    /* border: 3px solid transparent; */
    /* border-radius: 10px;  */
}

#gallery img:hover {
    /* border: 3px solid #005180; */
    cursor: pointer;
} 


#gallery p {
    font-size: 0.85rem;
    opacity: 70%;
    margin: 0;
}